


.container-fluid {
    background-color:#FFF;
}

.main-color {
    background-color: #0D1226;
}


.search-bar {
    border-color: rgb(75, 237, 237);
    color: white !important;
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link .search-bar {
    color:turquoise;
}

.nav-top-song {
    background-color:#0D1226;
    color:turquoise;
    font-weight: bold; 
    padding-top: 1rem;
    /* margin-bottom: 3rem; */

}

.btn-search {
    color:black;
}


.nav-link {
    color:rgb(56, 103, 103);
}

.nav-link:hover {
    color:rgb(75, 237, 237);
}

.search-bar::placeholder {
    color: white; 
    opacity: 0.5; 
}

.form-control:focus {
    color: black !important;
    background-color: var(--bs-form-control-bg);
    border-color: #86b7fe;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(13, 110, 253, .25);
}

a.text-decoration-none {
    color:rgb(56, 103, 103);
}

.search-title {
    color:rgb(56, 103, 103);
}

.text-warning-1 {
    color: turquoise !important;
    opacity: 1;
}

footer {
    background-color:#0D1226;
    position:fixed;
    color:rgb(117, 202, 202);
}