HTML {
    background-color:#0D1226;
}


.container-fluid {
    background-color:#FFF;
}

.main-color {
    background-color: #0D1226;
}


.search-bar {
    border-color: rgb(75, 237, 237);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link .search-bar {
    color:turquoise;
}

.nav-top-song {
    background-color:#0D1226;
    color:turquoise;
    text-decoration: bold;
    padding-top: 1rem;
}

.card {
    padding: 24px;
}

footer {
    color:turquoise;
    background-color:#0D1226;
}

