.container-fluid {
    background-color:#FFF;
}

.main-color {
    background-color: #0D1226;
}

.header {
    color: turquoise;
}


.search-bar {
    border-color: rgb(75, 237, 237);
    color:rgb(75, 237, 237);
}

.navbar-nav .nax-link.active, .navbar-nav .show>.nax-link {
    color:turquoise;
}