.container-fluid {
    background-color:#FFF;
}

.main-color {
    background-color: #0D1226;
}


.search-bar {
    border-color: rgb(75, 237, 237);
    color:rgb(75, 237, 237);
}

.navbar-nav .nav-link.active, .navbar-nav .show>.nav-link {
    color:turquoise;
}

